body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif !important;

}

h2{
    font-weight: 600;
    /*font-family: Montserrat,sans-serif !important;*/
}


.height100{
    height: 100%;
}

.colorWhite , .colorWhite a, .colorWhite a:hover, .colorWhite a:focus, .colorWhite a:active{
    color: #fff;
    /*background: transparent !important;*/
}

.icon-bar{
    background: #fff !important;
}

.navbar-custom{
    border-bottom: 1px solid #fff;
}

.navbar-brand{
    padding-top: 20px !important;
}

ul.nav{
    padding-top: 5px;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav, #speakers{
      background: -webkit-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Safari */
  background: -o-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Standard syntax */
}

nav ul li a, nav ul li a:hover, nav ul li a:focus{
    background: transparent !important;
}

.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: Montserrat,sans-serif;
    font-size: 25px;

  background: -webkit-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Safari */
  background: -o-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #3241a6 0, #202a6b 200%); /* Standard syntax */
}

.topleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    background: url(../images/Hacktoberfest-Details2-07.png) no-repeat;
    height: 300px;
    width: 300px;
    background-size: 100%;
    background-position: bottom;
}

.bottomright {
     position: absolute;
    bottom: 0;
    right: 0px;
    background: url(../images/Hacktoberfest-Details2-08.png) no-repeat;
    height: 300px;
    width: 300px;
    background-size: 100%;
    background-position: bottom;


}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.quote{
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 15px;
}

p.m30{
    margin-top: 30px;
}

.middle button, #ticket a.join{
    width: 170px;
    background: transparent;
    border-radius: 4px;
    border:1px solid #fff;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
#ticket a.join, #ticket a.join:hover, #ticket a.join:focus{
    text-decoration: none;
    padding: 15px 35px;
}



.middle button.join, #ticket a.join{
    background: #ff5755;

}

.middle h3{
    font-weight: 600;
    padding-top: 15px;
}

hr {
    margin: auto;
    width: 40%;
}

#celebration, #agenda, #speakers, #ticket, #where{
    text-align: center;
    padding-top: 80px;
}

#agenda{
    padding-top: 40px;
    margin-bottom: 100px;
}

#celebration h2, #speakers h2, #where{
    margin-bottom: 40px;
}

#celebration p, #agenda p, #speakers p, #ticket p, #where p{
    font-size: 20px;
    margin-bottom: 0px;
    padding: 5px;
}

#celebration a, #celebration a:hover, #celebration a:focus, #where a, #where a:hover, #where a:focus{
    color: #FF6666;
}

#map{
    height: 500px;
}


.agenda_table{
    text-align: left;
}

.agenda_item{
    border-bottom: 2px solid #333;
    padding: 5px;
    margin-bottom: 0px;
}

#speakers{
    padding-top:80px;
    padding-bottom: 80px;
    position: relative;
}

.speakers_left, .speakers_right{
    height: 200px;
    width: 200px;
    position: absolute;
}

.speakers_left{
    background: url(../images/speakers_left.svg) no-repeat 100%;
    bottom: 30px;
    left: 60px;
}


.speakers_right{
    background: url(../images/speakers_right.svg) no-repeat 100%;
    bottom: 30px;
    right: 60px;
}

#ticket button{
    margin-top: 30px;
    /*width: 150px;*/
    height: 50px;
}

.footer {
    background-color: #f5f5f5;
    padding: 3rem 1.5rem;
    text-align: center;
}

.footer a{
        color: #ff5755!important;
}

@media screen and (max-width: 1200px){
    .speakers_left, .speakers_right{
        height: 150px;
        width: 150px;
        position: absolute;
        bottom: 65px;
    }
}


@media screen and (max-width: 1060px){
    .speakers_left, .speakers_right{
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 65px;
    }
}

@media screen and (max-width: 1024px){
    .speakers_left, .speakers_right{
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 130px;
    }

    .speakers_left{
        left: 20px;
    }

    .speakers_right{
        right: 20px;
    }
}


@media screen and (max-width: 767px){
    .quote{
        background: rgba(50, 65, 166, .7) !important;
    }

    #agenda p{
        font-size: 14px;
    }

    #agenda p{
        font-size: 12px;
    }
}


@media screen and (max-width: 700px)
{
    .topleft, .bottomright{
        width: 160px;
        height: 160px;
    }
}